body {
    background-color: #d3ddd6;
}
h1 { 
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    max-width: 200px;
    padding: 20px;
    margin: auto;
    background-color: rgb(228, 159, 10);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    text-align: center
}

a {
    
    text-decoration: none;
    padding: 10px;
    
}

article {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: auto;
}

section {
    max-width: 300px;
    margin-top: 20px;
    gap:  10px;
    border: solid 3px black;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(175, 247, 247);
}

p {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}


.kep123 {
    height: 200px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    article {
        grid-template-columns: 1fr;
        
    }
    section {
        margin: auto;
        margin-top: 40px;
    }

}

@media screen and (max-width: 500px) {


    article {
        grid-template-columns: 1fr;
        max-width: 500px;
    }
    section {
        margin: auto;
        margin-top: 40px;
        max-width: 400px;
    }

}